<div class="background">
<div class="container">
  <div class="row">
    <img class="back" src="../../assets/images/arrow.png" routerLink="">
    <h1 class="col text-center title">Stages</h1>
  </div>
  <div class="row">
    <div class="card">
    <img class="card-img-top" src="../../assets/images/flat,1000x1000,075,f.u2.jpg" alt="Card image cap">
    <div class="card-body text-center">
      <h5 class="card-title btnGo" style="color: red">Level 1</h5>
      <p class="card-text btnGo" style="color:lawngreen">Green Hill</p>
      <a style="color: gold" class="btnStart">Go to stage !</a>
    </div>
  </div>
</div>
</div>
</div>
